<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container mt-3">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <nav class="navbar navbar-expand-lg" style="background-color: #71aded;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Admin/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Summary">Summary</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/EditProfile">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger ms-2" href="/User/login">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center mb-3">Parking Lots</h1>
    </div>
    <div class="container mt-4">
        <div class="row">
            {% for lot in lots %}
            <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ lot.lot_area }}</h5>
                        <p class="card-text">
                            Occupied: {{ lot.occupied_spots }} / {{ lot.total_spots }}
                        </p>
                        <div class="mb-3">
                            <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                data-bs-target="#editLotModal{{ lot.p_id }}">Edit</button>
                            <div class="modal fade" id="editLotModal{{ lot.p_id }}" tabindex="-1"
                                aria-labelledby="editLotModalLabel{{ lot.p_id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form method="POST" action="{{ url_for('Admin_editlot', lot_id=lot.p_id) }}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Parking Lot</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="area" class="form-label">Lot Area</label>
                                                    <input type="text" class="form-control" name="area"
                                                        value="{{lot.lot_area}}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="address" class="form-label">Address</label>
                                                    <input type="text" class="form-control" name="address"
                                                        value="{{lot.lot_add}}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="price" class="form-label">Price/Hour (₹)</label>
                                                    <input type="number" class="form-control" name="price"
                                                        value="{{lot.price}}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="spots" class="form-label">Total Spots</label>
                                                    <input type="number" readonly class="form-control" name="spots"
                                                        value="{{lot.total_spots}}">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% if lot.occupied_spots == 0 %}
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#deletelotModal{{ lot.p_id }}">Delete</button>
                            <div class="modal fade" id="deletelotModal{{lot.p_id}}" tabindex="-1"
                                aria-labelledby="deletelotModalLabel{{lot.p_id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form method="POST" action="{{ url_for('Admin_deletelot', lot_id=lot.p_id) }}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title fs-5" id="deletelotModalLabel{{lot.p_id}}">
                                                    DELETE!</h3>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete the parking lot?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-primary">Delete</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            {% else %}
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#deletelotModal{{ lot.p_id }}">Delete</button>
                            <div class="modal fade" id="deletelotModal{{ lot.p_id }}" tabindex="-1"
                                aria-labelledby="deletelotModalLabel{{ lot.p_id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="deletelotModalLabel{{ lot.p_id }}">
                                                Cannot
                                                Delete Lot</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger">
                                                This parking lot has occupied spots and cannot be deleted.
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" disabled>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-wrap" style="max-height: 200px; overflow-y: auto;">


                            {% for spot in lot.related_spots %}
                            {% if spot.status == 'occupied' %}
                            <div data-bs-toggle="modal" data-bs-target="#occupiedSpotModal{{ spot.s_id }}"
                                style="width: 20px; height: 20px; background-color: red; margin: 2px; border-radius: 3px;">
                            </div>

                            <div class="modal fade" id="occupiedSpotModal{{spot.s_id}}" tabindex="-1"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Occupied Spot Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="Spot_ID" class="form-label">Spot_ID</label>
                                                <p>{{spot.s_id}}</p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="User_ID" class="form-label">Customer_ID</label>
                                                <p>{{spot.available_spot.user.u_id}}</p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="Vehicle_no" class="form-label">Vehicle number</label>
                                                <p>{{spot.available_spot.v_no}}</p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="timestamp" class="form-label">Date/Time of
                                                    Parking</label>
                                                <p>{{spot.available_spot.time_of_parking}}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div data-bs-toggle="modal" data-bs-target="#viewSpotModal{{lot.p_id}}_{{loop.index}}"
                                style="width: 20px; height: 20px; background-color: green; margin: 2px; border-radius: 3px;">
                            </div>

                            <div class="modal fade" id="viewSpotModal{{lot.p_id}}_{{loop.index}}" tabindex="-1"
                                aria-labelledby="viewSpotModal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form method="POST" action="{{url_for('Admin_editspot', s_id=spot.s_id)}}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title fs-5" id="viewSpotModal">Parking Spot
                                                </h2>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="Spot_ID" class="form-label">Spot_ID</label>
                                                    <p>{{spot.s_id}}</p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="Lot_ID" class="form-label">Lot_ID</label>
                                                    <p>{{spot.p_id}}</p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="Status" class="form-label">Status</label>
                                                    <p>{{spot.status}}</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-primary">Delete</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addLotModal">+ Add New
            Parking
            Lot</button>
    </div>



    <div class="modal fade" id="addLotModal" tabindex="-1" aria-labelledby="addLotModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" action="{{ url_for('Admin_addlot') }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addLotModalLabel">New Parking Lot</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="area" class="form-label">Lot Area</label>
                            <input type="text" class="form-control" name="area" required>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" name="address" required>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price/Hour (₹)</label>
                            <input type="number" class="form-control" name="price" required>
                        </div>
                        <div class="mb-3">
                            <label for="spots" class="form-label">Total Spots</label>
                            <input type="number" class="form-control" name="spots" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add Lot</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>